*{
margin: 0px;
padding: 0px;
}
.App {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  text-align: center;
  background-color: #8cced6;
  min-height: 100vh;
  font-size: calc(10px + 2vmin);
  color: black;
}

.App-mainContainer{
  height: 100%;
}
.container_players{
  margin-bottom: 50px;
  display: flex;
  justify-content: space-around;
}
.label_player{
  margin-bottom: 20px;
}
.container_playerX{
  display: flex;
  flex-direction: column;
} 
.btn_play{
  padding: 10px;
  font-size: 16px;
  width: 150px;
}
.input{
  font-size: 16px;
  height: 30px;
}
.input_wonPoint{
  padding: 10px;
  font-size: 16px;
  width: 150px;
}

.btn_newGame{
  padding: 10px;
  font-size: 16px;
  width: 150px;
}
.lislist-scorest{
  list-style: none;
}